<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="../public/bootstrapV3/css/bootstrap.min.css">
    <!-- [if lt ie 9]>
        <script src="../public/bootstrapV3/html5shiv.min.js" type="text/javascript"></script>
        <script src="../public/bootstrapV3/respond.min.js" type="text/javascript"></script>
    <[endif] -->
    <script src="../public/bootstrapV3/js/jquery.min.js" type="text/javascript"></script>
    <script src="../public/bootstrapV3/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../public/css/main.css" type="text/css">
    <link rel="stylesheet" href="../public/css/user.css" type="text/css">
    <link rel="stylesheet" href="../public/css/ft-carousel.css" type="text/css">
    <!-- <link rel="stylesheet" href="../public/css/mui.min.css"> -->
    <script src="../public/layer/layer.js" type="text/javascript"></script>
    <script src="../public/js/ft-carousel.min.js" type="text/javascript"></script>

    <title></title>
</head>

<body>